:root {
  --font-family: "Georgia", sans-serif;
  --content-width: 900px;
  --content-bigger-width: 960px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-bigger-width: calc(var(--content-bigger-width) + (var(--container-offset) * 2));
  --main-color: #97455f;
  --light-color: #fff;
  --dark-color: #333;
  --black-color: #383838;
  --gray-color: #999;
  --border-radius: 6px;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
.container--bigger {
  max-width: var(--container-bigger-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.text-center {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.text {
  font-size: 12px;
  color: var(--gray-color);
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--dark-color);
}
.title--pseudo-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.title--pseudo-elements::before, .title--pseudo-elements::after {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 5px;
  background-color: #ebebeb;
}
.title--pseudo-elements::before {
  margin-right: 7px;
}
.title--pseudo-elements::after {
  margin-left: 7px;
}

.main-title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
}

.footer-contacts-text {
  font-size: 12px;
  color: #999;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.image__text {
  color: var(--light-color);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - var(--margin) * (var(--elements) - 1)) / var(--elements));
}
.card__title {
  margin: 0;
  text-transform: capitalize;
  color: var(--main-color);
}
.card__descr {
  margin: 0;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #999;
}

.header__links {
  border-bottom: 1px solid var(--main-color);
  padding: 9px 0;
  background-color: var(--light-color);
}
.header__links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.header__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__links-item {
  position: relative;
}
.header__links-item:not(:last-child) {
  margin-right: 12px;
}
.header__links-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 3px;
  width: 1px;
  height: 12px;
  background-color: var(--main-color);
}
.header__links-link {
  font-size: 12px;
  letter-spacing: 0.3px;
  color: var(--main-color);
}
.header__links-link:hover {
  text-decoration: underline;
}
.header__links-btn {
  position: absolute;
  right: 0;
  bottom: -35px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  width: 30px;
  height: 26px;
  background-color: var(--main-color);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: background-color 500ms ease-in-out;
  -o-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}
.header__links-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 11px;
  height: 1px;
  background-color: var(--light-color);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header__links-btn:hover {
  background-color: #622d3e;
}
.header__logo {
  padding: 35px 0 28px;
  background-color: #ebebeb;
}
.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo-title {
  margin-right: 18px;
  font-weight: 400;
  font-size: 26px;
  text-transform: uppercase;
  color: var(--dark-color);
}
.header__logo-title span {
  font-size: 36px;
}
.header__logo-text {
  position: relative;
}
.header__logo-text::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 3px;
  width: 1px;
  height: 25px;
  background-color: currentcolor;
}
.header__navigation-wrapper {
  position: relative;
}
.header__navigation-wrapper::before, .header__navigation-wrapper::after {
  content: "";
  position: absolute;
  bottom: -80px;
  width: 20px;
  height: 130px;
  background-color: #ebebeb;
}
.header__navigation-wrapper::before {
  left: -5px;
}
.header__navigation-wrapper::after {
  right: -5px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-color: #d2d2d2;
  -webkit-transition: background-color 500ms ease-in-out;
  -o-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__item:hover {
  background-color: orange;
}
.social__link {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 17px;
}
.social__link--in {
  background-image: url("../img/social/linkedin.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/social/linkedin.webp" type("image/webp"), "../img/social/linkedin.png" type("image/png"));
  background-image: image-set("../img/social/linkedin.webp" type("image/webp"), "../img/social/linkedin.png" type("image/png"));
}
.social__link--tw {
  background-image: url("../img/social/twitter.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/social/twitter.webp" type("image/webp"), "../img/social/twitter.png" type("image/png"));
  background-image: image-set("../img/social/twitter.webp" type("image/webp"), "../img/social/twitter.png" type("image/png"));
}
.social__link--pt {
  background-image: url("../img/social/pinterest.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/social/pinterest.webp" type("image/webp"), "../img/social/pinterest.png" type("image/png"));
  background-image: image-set("../img/social/pinterest.webp" type("image/webp"), "../img/social/pinterest.png" type("image/png"));
}
.social__link--gp {
  background-image: url("../img/social/google-plus.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/social/google-plus.webp" type("image/webp"), "../img/social/google-plus.png" type("image/png"));
  background-image: image-set("../img/social/google-plus.webp" type("image/webp"), "../img/social/google-plus.png" type("image/png"));
}
.social__link--rss {
  background-image: url("../img/social/rss.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/social/rss.webp" type("image/webp"), "../img/social/rss.png" type("image/png"));
  background-image: image-set("../img/social/rss.webp" type("image/webp"), "../img/social/rss.png" type("image/png"));
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 293px;
  height: 33px;
}
.form__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  padding: 11px;
  height: 100%;
  font-size: 12px;
  color: var(--gray-color);
}
.form__btn {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding: 0 15px;
  height: 100%;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--light-color);
  background-color: var(--main-color);
  -webkit-transition: background-color 500ms ease-in-out;
  -o-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}
.form__btn:hover {
  background-color: #622d3e;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--main-color);
}
.nav__item {
  -webkit-transition: background-color 500ms ease-in-out;
  -o-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}
.nav__item:hover {
  background-color: #622d3e;
}
.nav__link {
  display: block;
  padding: 18px 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--light-color);
}

.hero {
  padding: 30px 0 45px;
}
.hero__image {
  position: relative;
  width: 100%;
  height: 360px;
  background-color: var(--dark-color);
}
.hero__image-text {
  font-size: 24px;
}
.hero__image-block {
  position: absolute;
  right: 11px;
  bottom: 28px;
  padding: 9px 28px;
  width: 455px;
  height: 115px;
  background-color: #adadad;
}
.hero__image-title {
  margin-bottom: 15px;
  color: var(--black-color);
}
.hero__image-descr {
  margin: 0;
  font-size: 16px;
  color: var(--black-color);
}
.hero__image-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -35px;
  height: 15px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hero__image-dot {
  border: 3px solid var(--dark-color);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.hero__image-dot:not(:last-child) {
  margin-right: 4px;
}
.hero__image-dot--checked {
  background-color: var(--dark-color);
}

.cards {
  padding: 36px 0 0;
}
.cards__title {
  margin-bottom: 38px;
}
.cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cards__card {
  --elements: 3;
  --margin: 37px;
  margin-bottom: 41px;
}
.cards__card:not(:nth-child(3n)) {
  margin-right: var(--margin);
}
.cards__image {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  background-color: #353535;
}
.cards__card-title {
  margin-bottom: 12px;
}

.about {
  padding: 7px 0 50px;
}
.about__cards {
  margin-bottom: 25px;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.about__card {
  --elements: 2;
  --margin: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
}
.about__card:not(:nth-child(2n)) {
  margin-right: var(--margin);
}
.about__title {
  margin-bottom: 33px;
}
.about__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__card-content--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.about__card-image {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 18px;
  border-radius: 100%;
  width: 128px;
  height: 128px;
  text-align: center;
  background-color: var(--dark-color);
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}
.about__card-title {
  margin-bottom: 3px;
  text-transform: capitalize;
}
.about__card-title--margin-bottom {
  margin-bottom: 12px;
}
.about__card-descr--margin-bottom {
  margin-bottom: 13px;
}
.about__card-link {
  font-size: 13px;
  color: var(--main-color);
}
.about__card-wrapper {
  position: relative;
  margin-bottom: 5px;
  padding-left: 66px;
}
.about__card-wrapper::before {
  background-image: url("../img/about/about-icon.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/about/about-icon.webp" type("image/webp"), "../img/about/about-icon.png" type("image/png"));
  background-image: image-set("../img/about/about-icon.webp" type("image/webp"), "../img/about/about-icon.png" type("image/png"));
  content: "";
  position: absolute;
  left: 2px;
  top: -2px;
  width: 53px;
  height: 44px;
}
.about__contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: var(--border-radius);
  padding: 22px 31px;
  background-color: var(--main-color);
}
.about__contacts-title {
  color: var(--light-color);
}
.about__contacts-descr {
  font-size: 18px;
  color: var(--light-color);
}
.about__contacts-link {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: var(--border-radius);
  padding: 14px 10px;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--light-color);
  -webkit-transition: background-color 500ms ease-in-out;
  -o-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}
.about__contacts-link:hover {
  background-color: #ccc;
}

.footer {
  border-top: 5px solid #d2d2d2;
  background-color: #ebebeb;
}
.footer__content {
  border-bottom: 1px solid #bcbcbc;
  padding: 40px 0;
}
.footer__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__content-block:not(:last-child) {
  margin-right: 37px;
}
.footer__content-block--max-width {
  max-width: 455px;
}
.footer__content-block--offset {
  margin-left: auto;
}
.footer__content-card:not(:last-child) {
  margin-bottom: 30px;
}
.footer__content-title {
  margin-bottom: 16px;
  text-transform: capitalize;
}
.footer__card-title {
  margin-bottom: 14px;
  font-size: 16px;
}
.footer__image-wrapper {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
  border: 1px solid #d2d2d2;
  padding: 4px;
  width: 105px;
  height: 105px;
}
.footer__image {
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
}
.footer__address {
  margin-bottom: 16px;
}
.footer__address-item:not(:last-child) {
  margin-bottom: 5px;
}
.footer__contacts {
  margin-bottom: 20px;
}
.footer__time-title {
  margin: 0;
  margin-bottom: 5px;
}
.footer__time-item:not(:last-child) {
  margin-bottom: 5px;
}
.footer__content-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 226px;
  height: auto;
}
.footer__content-input {
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  width: 100%;
  height: 31px;
}
.footer__content-input--textarea {
  height: 110px;
  resize: none;
}
.footer__content-btn {
  border-radius: var(--border-radius);
  padding: 9px 17px;
}
.footer__rights {
  border-top: 1px solid var(--light-color);
  padding: 24px 0;
}
.footer__rights-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */